<?php

  session_start();


<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="css/css.css">
  </head>
  <style>
  body{
       font-family: Arial, Helvetica, sans-serif;user-select: none;
        background-image: url("imgs/Grad.jpg");
        height: 100%; 
        background-position: right 85px;
        background-repeat: no-repeat;
        background-size: cover;
    }
  </style>


  <body style="">
    <div class="hcon" style="border: 2px solid ;user-select: none;">

      <div class="imgcontainer">
         <img class ="img" src="imgs/logo2.png" alt="logo" >
      </div>

      <div class="topnav">
      
          <a style="background-color: #0066cc" href="#Administrator">HOME</a>
          <a href="#Administrator">Teachers</a>
          <a href="#faculties">Subjects</a>
          <a href="#departments">Students</a>
          <a style="margin-right: 20px" href="#contact" id="out">Sign out</a>
            <a style="margin-right: 20px" href="#contact" id="username"><?php echo $_SESSION['ADMIN_NAME'] ?></a>
      </div>
    </div>

    <div id ="homeadminlist">
      <a href="addfakulty.html"  >Add Teacher</a>
      <a href="addadministrator.html" >Add Subject</a>
      <a href="adddepartment.html">Add Student</a>
    </div>
  </body>
  



  <script type="text/javascript">
    $(document).ready(function(){
      var rates ;
     
          $.get("build.php", function(data){
            var duce = jQuery.parseJSON(data);
              rates = JSON.parse(duce[0]);

          });

    });

  </script>
</html>

?>