<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
   <head>
    <link rel="stylesheet" href="css/css.css">
  </head>

  <style >
    @keyframes myChangee {
      from {
          height: 0px;
      } to {
          height:400px;
      }
    }
    body{
       font-family: Arial, Helvetica, sans-serif;user-select: none;
        background-image: url("imgs/Grad.jpg");
        height: 100%; 
        background-position: right 85px;
        background-repeat: no-repeat;
        background-size: cover;
    }
  </style>

  <body  style="margin: 0px" style="user-select: none;" >

    <div class="hcon" style="border: 2px solid ;user-select: none;">

      <div class="imgcontainer">
         <img class ="img" src="imgs/logo2.png" alt="logo" >
      </div>

      <div class="topnav">
        <a href="#Administrator">Home</a>
        <a href="#Administrator">Teachers</a>
        <a href="#faculties">Subjects</a>
        <a href="#departments">Students</a>
        <a style="margin-right: 20px" href="#Sign out" id="out">Sign out</a>
        <a style="margin-right: 20px" id="username">adnan</a>
     </div>

    </div>

    <div style="top: 200px ; height:400px; " class="tabblecontainer" id="form" >

       <form method="post" action="/http" >  
         <div style="margin: 25px;">
            <h3 style="color:#006699 ;user-select:none">New Subject:</h3>
            <br>
            <label style="user-select:none">Subject name:</label>
            <input  name="name" type="text"  placeholder="Subject name" id="Sname" required>
            <br>
            <label style="user-select:none">Faculty:</label>
            <input  name="name" type="text"  placeholder="Faculty name" id="Fname" required>
            <br>
            <label style="user-select:none">Department name:</label>
            <input  name="name" type="text"  placeholder="Department name" id="Dname" required>
            <br>
          <button  type="submit" style="position: static;float: right;" >&#10004;</button>
         </div>
       </form>

    </div>

  
  </body>
</html>
